# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env
context.py
projeto_completo*

# Node / JS
node_modules/
dist/
.next/
out/
build/

# Tauri / Rust
src-tauri/target/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/